@import "_mixins"

$black: #000000  
$gray_for_Text: #828282
$white: #FFFFFF


.header 
    @include flex-center(100%, auto ,auto )
    background-color: $black
.inner_menu
    @include flex(80%, auto ,auto )
    justify-content: space-between
    align-items: center
    // background-color: #fff
    a
        font-family: SF UI Display
        font-size: 24px
        line-height: 29px
        color: #FFFFFF
        img
            margin-right: 20px
.nev_menu
    @include flex(20%, auto ,80px )
    justify-content: space-between
    align-items: center
    // background-color: #1be608
.box 
    @include size(150px, 40px ,auto )
    background-color: $black
    a
        font-family: SF UI Display
        font-size: 13px
        line-height: 16px  
.input_content
    @include flex-center(100%, auto ,250px )
    background-color: $black
    flex-direction: column
    
    p
        font-family: SF UI Display
        font-size: 15px
        line-height: 20px
        color: $white
        margin-top: 15px   
.line
    @include size(75%, 1px ,auto )
    background-color: $white
    margin-top: 20px
.main_block
    @include flex-center(100%, auto , 80px )
.button_one
    @include flex(35px, 26px , auto )
.img_content
    @include flex(100%, auto , 2000px )
    background-color: $white
    justify-content: space-around
    
.img_content_one
    @include flex-center(30%, auto , 3000px )
    background-color: $gray_for_Text
    flex-direction: column
    justify-content: flex-start
.img_content_two
    @include flex-center(30%, auto , 3000px )
    background-color: $gray_for_Text
    flex-direction: column
    justify-content: flex-start
.img_content_tree
    @include flex-center(30%, auto , 3000px )
    background-color: $gray_for_Text
    flex-direction: column
    justify-content: flex-start
    
    


        
    
    


    
        
    
    

        
    

    
