@import "_mixins"

$black: #000000  
$gray_for_Text: #828282
$white: #FFFFFF
$red: #ff0404


.header 
    @include flex-center(100%, auto ,auto )
    background-color: $black
.inner_menu
    @include flex(80%, auto ,auto )
    justify-content: space-between
    align-items: center
    a
        @include text( 18px, white , inherit, initial , inherit , auto ) 
        img
            margin-right: 10px
.nev_menu
    @include flex(25%, auto ,80px )
    justify-content: space-between
    align-items: center
.box 
    @include flex-center(150px, 40px ,auto )
    background-color: $black
    a
        @include text( 13px, white, inherit, initial , inherit , auto )
.all_content
    @include size(100%,auto,1070px )
    justify-content: center
.block_info
    @include size(80%, auto ,1070px )
.block
    @include flex-center(100%,150px ,auto )
.autor
    @include flex-center(90%,auto,auto)
    justify-content: space-between
    @include text(20px, white, inherit, initial , inherit , auto )   
    p 
        @include flex(100%,auto ,auto )
        @include text-two(21px, white, 24px ,  SF UI Display , none , nowrap)        
.download
    @include flex-center(20%,auto,auto)
    justify-content: space-between    
.wooman
    justify-content: center
    img
        @include size(100%,790px,auto ) 
.tags
    @include flex-center(auto,auto,auto )
    @include text-two(25px, white, 30px ,  SF UI Display , none , nowrap) 
.all_btn
    @include flex-center(100%,auto ,auto )    
.navigation
    @include flex-center(25%, auto , auto )
    justify-content: space-around
    a
        @include text-two(18px, white, 21px , SF UI Display , none , nowrap)
        color: $gray_for_Text
        background: #FFFFFF
        border-radius: 8px
.text
    @include flex-center(100%,150px ,auto )
    @include text(30px, black, inherit, initial , inherit , auto )
    background-color: $white
    p
        @include size(80%, auto ,auto )
        @include text-two(36px, $black , 43px , SF UI Display , none , nowrap)
.more
    a
        text-decoration-line: underline
        @include text-two(13px, $gray_for_Text , 17px , SF UI Display , underline , nowrap)              
.all_images
    @include flex(100%, auto , auto )
    background-color: $white
    justify-content: space-around   
.all_images_one
    @include flex-center(30%, auto , auto )
    background-color: $white
    flex-direction: column
    justify-content: flex-start
.all_images_two
    @include flex-center(30%, auto , auto )
    background-color: $white
    flex-direction: column
    justify-content: flex-start
.all_images_tree
    @include flex-center(30%, auto , auto )
    background-color: $white
    flex-direction: column
    justify-content: flex-start
    

        
    
        
    
   
        
    
        
    
    
    
       

    
        
    
    
    
    